/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	/* border:1px solid red; */
	margin:100px 100px;
}

header { 
	/* border:1px solid red; */
	margin-bottom: 50px;
	display: flex;
	align-items: center;

}
nav a{
	width: 75%; 
	height: 100px;
	margin-right: 75px;
	border:1px solid red;
}
.logo{
	/* border:1px solid red; */
	width: 18%;
	/* margin-left: 20px; */
}

hr{
	font-size:3px;
}
.cta {
	/* border:1px solid red; */
	display: flex;
}
.cta-text {
	/* border:1px solid red; */
	margin-right: 200px;
	font-size: 50px;
	width: 40%;
	align-items: center;
	padding: 100px;
}
.cta-text button{
	/* border:1px solid red; */
	font-size:20px;
	width: 150px;

}

.top-img {
	/* border:1px solid red; */
	margin-left: 100px;
	margin-right:150px;

}
.top-content {
	/* border:1px solid red; */
	margin: 25px 0px;
	display: flex;
	align-content: space-between;
}
.middle-img {
	/* border:1px solid red; */
	margin-left: 100px;
	margin-top:50px;
	margin-bottom: 65px;
	display: flex;
	align-content: center;
}

.bottom-content {
	/* border:1px solid red; */
	margin:10px 0;
	margin-bottom: 65px;
	display: flex;
	align-content: space-between;
}
.contact {
	height: 75px;
}
.contact p{
	height: 50px;
	width: 100%;
	/* border:1px solid red; */
	display: flex;
	flex-direction: column;
}

footer{
	width: 100%;
	padding-left: 250px;
	/* display: flex; */
	justify-content: center;
	/* margin: 10px; */
	margin-right: 300px;
	/* border:1px solid blue; */

}
 
footer p{
	margin-left: 230px;
}

.service-page {
	margin: 0px 100px;
	/* border: 1px solid red; */

}

.service-header {
	display: flex;
	align-items: center;
	border: 1px solid dodgerblue;
}
.service-nav {
	border: 1px solid green;
	width: 60%;
	display: flex;
}
.services-logo {
	display: flex;
	width: 15%;
	margin-bottom:50px;
	border: 1px solid skyblue;
}

.services-header-img {
	width: 100%;
	margin-bottom: 50px;
}

.services-container {
	padding-left: 100px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;


}
.services-box {
	border: 1px solid gray;
	background-color: #d8d8d8;
	width: 40%;
	padding: 10px 0;
	margin: 20px;
	align-items:left;
	display: flex;
	flex-direction: column;
	 
}

.services-headers {
	margin:15px;
	/* border: 1px solid red; */
}

.service-description {
	margin: 15px 15px;
	/* border: 1px solid red; */
}

.services-button {
	width:100px;
	margin-left: 15px;

}